/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.tmp.driveupload
/.tmp.drivedownload
/Dokumen
/datatabeluser
/new_form.php
/database/migrations/2023_05_08_071241_create_tb_permohonan_table.php
/resources/views/ex.php
/resources/views/admin/penerimaan-kas.blade copy.php