/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.tmp.driveupload
/.tmp.drivedownload
/Dokumen
/datatabeluser
/new_form.php
/database/migrations/2023_05_08_071241_create_tb_permohonan_table.php
/resources/views/ex.php
/resources/views/admin/penerimaan-kas.blade copy.php
/resources/views/admin/pembayaran-kas.blade copy.php
/resources/views/admin/penerimaan-bank.blade copy.php
 db/2023_05_11_083509_create_users_table.php
/db/2023_05_11_083643_create_roles_table.php
/db/2023_05_11_083929_add_role_id_column_to_users_table.php
/db/2023_05_11_084346_create_tb_permohonan_table.php
/db/2023_05_11_084627_add_id_column_to_tb_permohonan_table.php
/db/2023_05_12_070322_create_tb_penerimaan_kas_table.php
/db/2023_05_12_072004_add_id_column_to_tb_penerimaan_kas_table.php
/db/2023_05_12_080733_add_jenis_dana_column_to_tb_permohonan_table.php
/db/2023_05_15_084933_add_status_column_to_tb_penerimaan_kas_table.php
/db/2023_05_15_092458_add_bukti_transaksi_column_to_tb_penerimaan_kas_table.php
/db/2023_05_17_081741_create_tb_pembayaran_bank_table.php
/db/2023_05_17_082034_add_id_column_to_tb_pembayaran_bank_table.php
/db/2023_05_17_082145_create_tb_penerimaan_bank_table.php
/db/2023_05_19_093639_add_ttd_column_to_tb_permohonan_table.php
/db/2023_05_19_153859_add_id_column_to_tb_penerimaan_bank_table.php
/db/2023_05_22_090913_create_tb_pembayaran_kas_table.php
/db/2023_05_22_091130_add_id_column_to_tb_pembayaran_kas_table.php
/db/2023_05_22_100433_add_status_upload_column_to_tb_permohonan_table.php
/db/2023_05_25_134040_add_id_upload_column_to_tb_detail_permohonan_table.php
/db/2023_06_13_062234_create_tb_ca_table.php
/db/2023_06_13_062840_add_id_permohonan_column_to_tb_ca_table.php
/db/2023_06_13_090713_add_periode_ca_column_to_tb_ca_table.php
/db/2023_06_13_141045_create_tb_penerimaan_antar_bank_table.php
/db/2023_06_13_174637_create_tb_pembayaran_antar_bank_table.php
/db/2023_06_14_080531_add_nominal_terpakai_column_to_tb_ca_table.php
/db/2023_06_19_105154_add_bulan_coloumn_to_tb_pembayaran_antar_bank.php